CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
cylinder_attempt
plane_attempt
sphere_attempt
mesh.ply
main

.DS_Store
.idea
build

pcl_visualizer_viewports.build/
pcl_visualizer_viewports.xcodeproj/